@model MetricsApp.Models.InfoModel
@{
    ViewBag.Title = "Information";
}

<h2>Information</h2>
<div class="col-md-12">
    <p class="col-md-6" style="display:inline-block">@Model.Text</p>
    <img src="@Model.ImgPath" class="col-md-6" style='float: right;max-width:256px;max-height:256px' />
</div>

