
@{
    ViewBag.Title = "Index";
}

<h2>Metrics calculator</h2>
<div class="col-md-12">
    <p class="col-md-6" style="display:inline-block">Welocme to the metrics calculator web application. After connecting to GitHub and SonarQube instruments we will provide you a set of quality factors presented in "Metrics" part.</p>
    <img src="~/Graphics/metrics.png" class="col-md-6" style='float: right;'/>
</div>
