@model MetricsApp.ViewModels.BestUserPartialModel

<div class="card-body Results">
    <h4><a target="_blank" href="https://github.com/@Model.UserWithLargestIssuesClosed.User.Login">@Model.UserWithLargestIssuesClosed.User.Login</a></h4>
    <h4>Issues closed: <b>@Model.UserWithLargestIssuesClosed.Counter</b></h4>
</div>
